/*====================================================
               Button
======================================================*/
.btn-primary {
  margin-bottom: 10px;
}
.breadcrumb {
  margin-bottom: 100px
}
.btn-success{
  padding: 2px;
  font-size: 13px;
}
/*====================================================
               Kendo PDF
======================================================*/

.kendo-pdf,.kendo-excel {
  float: right;
}
