@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

.btn-success {
  margin-right: 10px;
}

.text-danger {
  color: #ff0000 !important ;
}

.form-control-feedback {
  margin-left: 35px;
}
