input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid-feedback {
  font-size: 14px;
  font-weight: 300;
}
